.mna-auth {
  h1 {
    text-align: center;
  }

  &-switch {

    &-layout {
      border: 1px solid black;
    }

    &-controls {
      text-align: center;
      button {
        text-align: center;
        width: 40%;
        margin-top: 33px;
        border-radius: 0;
      }

      &-active {

      }
    }
  }
}