.mna-login {

  &-form {
    fieldset {
      margin: auto;
    }
  }

  &-fieldgroup {
    text-align: center;

    input {
      outline: none;
      border-radius: 0 !important;
      width: 60%;
      margin-left: 15%;
      float:left;
      margin-top: 15px;
    }

    button {
      border: none;
      outline: none;
      height: 37px;
      width: 10%;
      float:left;
      margin: 15px 15% 0 0;
    }
  }

  &-ctrlgroup {
    text-align: center;
    margin-top: 128px;

    div {
      width: 100%;
      margin: 0 !important;
      input {
        text-align: center;
        width: 34.7%;
        border-radius: 0;
      }
    }

    a {
      margin-top: 15px;
      margin-left: 33%;
      float: left;
    }
  }
}
