<div class="mna-login">
    <form ng-submit="loginCtrl.login()" name="loginForm" class="pure-form pure-form-aligned mna-login-form">
        <fieldset>
            <div class="mna-login-fieldgroup">
                <div class="pure-control-group mna-login-username">
                    <input type="text"
                           name="username"
                           ng-model="loginCtrl.user.username"
                           placeholder="Username or email"
                           required>
                </div>
                <div class="pure-control-group mna-login-password">
                    <input type="password"
                           name="password"
                           id="mna-login-password"
                           ng-model="loginCtrl.user.password"
                           placeholder="Password"
                           required>
                </div>
            </div>
            <div class="mna-login-ctrlgroup">
                <div class="pure-controls">
                    <input type="submit"
                           value="Submit"
                           class="pure-button"
                           ng-disabled="loginForm.$invalid">
                    <input type="reset"
                           value="Reset"
                           class="pure-button"
                           ng-click="loginForm.$setPristine();">
                </div>
            </div>
        </fieldset>
    </form>
</div>