<div class="pure-menu mna-menu">
    <a class="pure-menu-heading mna-menu-heading" href="/index.html#/news-feed">News Aggregator <br/> App</a>

    <div class="mna-menu-userpic-container pure-menu-item">
        <a href="/index.html#/news-feed" class="">
            <img ng-src="{{currentUser.userpic}}"
                 title="{{currentUser.nickname}}">
        </a>
    </div>

    <div class="mna-menu-user-credentials pure-menu-item">
        <span>@{{currentUser.nickname}}</span>
        <span>{{currentUser.full_name}}</span>
    </div>

    <ul class="pure-menu-list mna-menu-ctrls">

        <li class="pure-menu-item mna-menu-item-search">
            <input type="text"
                   name="search-field"
                   ng-model="search_criteria"
                   placeholder="Search">
            <button class="pure-button" title="Search" ng-click="search()">
                <i class="fa fa-search fa-lg"></i>
            </button>
        </li>

        <li class="pure-menu-item">
            <a href="/index.html#/news-feed" class="pure-menu-link" title="News feed">
                <i class="fa fa-list-alt fa-lg"></i>
                News feed
            </a>
        </li>

        <li class="pure-menu-item">
            <a href="/index.html#/settings" class="pure-menu-link" title="Settings">
                <i class="fa fa-cog fa-lg"></i>
                User settings
            </a>
        </li>


        <li class="pure-menu-item">
            <a href="#" class="pure-menu-link" title="Suggest a news">
                <i class="fa fa-plus-square fa-lg"></i>
                Suggest a news
            </a>
        </li>

        <li class="pure-menu-item">
            <a href="/index.html#/auth" class="pure-menu-link" title="Sign out">
                <i class="fa fa-sign-out fa-lg"></i>
                Sign out
            </a>
        </li>
    </ul>
</div>